In [1]:
import pandas as pd
import numpy as np
import plotly.express as px

In [2]:
df=pd.read_csv('covid_19_india.csv')
df

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,30/01/20,6:00 PM,Kerala,1,0,0,0,1
1,2,31/01/20,6:00 PM,Kerala,1,0,0,0,1
2,3,01/02/20,6:00 PM,Kerala,2,0,0,0,2
3,4,02/02/20,6:00 PM,Kerala,3,0,0,0,3
4,5,03/02/20,6:00 PM,Kerala,3,0,0,0,3
...,...,...,...,...,...,...,...,...,...
3526,3527,28/06/20,8:00 AM,Tripura,-,-,1071,1,1334
3527,3528,28/06/20,8:00 AM,Uttarakhand,-,-,1912,37,2791
3528,3529,28/06/20,8:00 AM,Uttar Pradesh,-,-,14215,649,21549
3529,3530,28/06/20,8:00 AM,West Bengal,-,-,10789,629,16711
3530,3531,28/06/20,8:00 AM,Cases being reassigned to states,-,-,0,0,7839

In [6]:
#day_count= no of days since first case for a state.
statelist=['Kerala', 'Telengana', 'Delhi', 'Rajasthan', 'Uttar Pradesh',
       'Haryana', 'Ladakh', 'Tamil Nadu', 'Karnataka', 'Maharashtra',
       'Punjab', 'Jammu and Kashmir', 'Andhra Pradesh', 'Uttarakhand',
       'Odisha', 'Puducherry', 'West Bengal', 'Chhattisgarh',
       'Chandigarh', 'Gujarat', 'Himachal Pradesh', 'Madhya Pradesh',
       'Bihar', 'Manipur', 'Mizoram', 'Andaman and Nicobar Islands',
       'Goa', 'Unassigned', 'Assam', 'Jharkhand', 'Arunachal Pradesh',
       'Tripura', 'Nagaland', 'Meghalaya', 'Dadar Nagar Haveli',
       'Cases being reassigned to states', 'Sikkim', 'Daman & Diu',
       'Dadra and Nagar Haveli and Daman and Diu', 'Telangana']
df['day_count']=df['Confirmed']
df['day_count']=0
val=0
lis=[]
for i in range(40):
    lis.append(0)
shape=df.shape
for i in range(shape[0]):
    for j in statelist:
        if df['State/UnionTerritory'].iloc[i]==j and df['Confirmed'].iloc[i] > 5:
            lis[statelist.index(j)] += 1
            df['day_count'].iloc[i]=lis[statelist.index(j)]
#lis
#df.to_csv('covid_19_india.csv')
df

/home/sic_mundus/miniconda3/envs/geo/lib/python3.8/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed,day_count
0,1,30/01/20,6:00 PM,Kerala,1,0,0,0,1,0
1,2,31/01/20,6:00 PM,Kerala,1,0,0,0,1,0
2,3,01/02/20,6:00 PM,Kerala,2,0,0,0,2,0
3,4,02/02/20,6:00 PM,Kerala,3,0,0,0,3,0
4,5,03/02/20,6:00 PM,Kerala,3,0,0,0,3,0
...,...,...,...,...,...,...,...,...,...,...
3526,3527,28/06/20,8:00 AM,Tripura,-,-,1071,1,1334,56
3527,3528,28/06/20,8:00 AM,Uttarakhand,-,-,1912,37,2791,92
3528,3529,28/06/20,8:00 AM,Uttar Pradesh,-,-,14215,649,21549,117
3529,3530,28/06/20,8:00 AM,West Bengal,-,-,10789,629,16711,98
3530,3531,28/06/20,8:00 AM,Cases being reassigned to states,-,-,0,0,7839,40