In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#import plotly.express as px
import seaborn as sns
sns.set(style='whitegrid')
sns.set_palette('bright')

In [18]:
df1 = pd.read_csv('patiala.csv')
df2 = pd.read_csv('hisar.csv')
df3 = pd.read_csv('jind.csv')
df4 = pd.read_csv('panipat.csv')
df5 = pd.read_csv('sukhdevcollege.csv')
df6 = pd.read_csv('stadium.csv')
df7 = pd.read_csv('noida.csv')

In [19]:
df1.date = pd.to_datetime(df1.date,format = '%d-%m-%Y')
df2.date = pd.to_datetime(df2.date,format = '%d-%m-%Y')
df3.date = pd.to_datetime(df3.date,format = '%d-%m-%Y')
df4.date = pd.to_datetime(df4.date,format = '%d-%m-%Y')
df5.date = pd.to_datetime(df5.date,format = '%d-%m-%Y')
df6.date = pd.to_datetime(df6.date,format = '%d-%m-%Y')
df7.date = pd.to_datetime(df7.date,format = '%d-%m-%Y')

In [34]:
df = pd.concat([df1,df2,df3,df4,df5,df6,df7])
df=df.replace(r'^\s+$', np.nan, regex=True)
df.to_csv('cropburn.csv')
df.head(5)

      city       date  pm25  pm10  o3  no2  so2  co
0  patiala 2018-11-30   NaN    81   5   10    7   6
1  patiala 2018-12-01   142    85   7   10    7   8
2  patiala 2018-12-02   145    92   3   13   16  12
3  patiala 2018-12-03   156   103   6   13    7  11
4  patiala 2018-12-04   165    96   5   13    7  10